/* DEBUG */

.debug .navbar {
    height: 100px;
}

.debug .jumbo, .debug .footer {
    height: 200px;
}

.debug .portfolio-title, .debug .about-title, .debug .about-download, .contact-title, .copyright {
    height: 100px;
}

.debug .portfolio-item, .debug .about-item, .contact-item, .footer-item {
    height: 100px;
}

/*  */

.navbar {
    background-color: #2c3e50;
}

.jumbo {
    background-color: #1abc9c;
}

.portfolio-title, .contact-title {
    background-color: red;
}

.portfolio-item, .contact-item, .footer-item {
    background-color: blue;
}

.about {
    background-color: #1abc9c;
}

.footer {
    background-color: #3a546d;
}

.copyright {
    background-color: #2c3e50;
}